body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	margin: 0;
	padding: 0;
	background-color: rgb(47, 47, 47);
}

#videoScrollArea {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: scroll;
	scrollbar-width: none;
}

#videoScrollArea::-webkit-scrollbar {
	display: none;
}

.videoArea {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	position: relative;
	scroll-snap-align: start;
}

video {
	height: 100vh;
	margin: 0;
	padding: 0;
}

.buttonArea {
	display: flex;
	flex-direction: column;

	gap: 16px;

	right: 2%;
	bottom: 2%;
	position: absolute;
}

.buttonArea img {
	height: 2.5rem;
  filter: drop-shadow(0 0 10px black) 
          drop-shadow(0 0 20px black) 
          drop-shadow(0 0 30px black);

	transition: all 300ms ease;
}

.buttonArea img:hover {
		translate: 0px -5px;
		scale: 1.2;
	}



	
